<div>
  <input type='text' name='page[search]' class='search-field'>
</div>
<%= form_for [:api, :v1, @idea] do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :body %>
<% end %>
<div id="submit-button" class="ui button"><p>Submit</p></div>
<div id="ideas-container"></div>
