#page-container {
  padding-top: 7em;
  padding-left: 4em;
  padding-right: 4em;
}

.welcome {
  font-size: 3em;
}

.quality {
  color: #9805E9;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.3em;
}

.idea-search {
  padding-top: 7em;
}

#ideas-container {
  padding-top: 4em;
  padding-left: 4em;
  padding-right: 4em;
}

.error {
  color: #CA1010;
  font-size: 0.5em;
}
.hidden {
  display: none
}
